{{- $length := len .Authors -}}
{{- $author := index .Authors 0 -}}
{{- $author := split $author " " -}}
{{- $firstname := index $author 0 -}}
{{- $surname := index $author (sub (len $author) 1) -}}
{{- slicestr $firstname 0 1 }}. {{ $surname -}}
{{- if gt $length 1 -}}
, et al.
{{- end -}}
, &ldquo;{{ .Title }}&rdquo;, <em>{{ .Journal }}</em>, vol. {{ .Volume }}, {{ with .Number -}} no. {{ .}},{{ end }} {{ with .PageLast }}pp. {{ $.PageFirst }}-{{ $.PageLast }}{{ else }}p. {{ .PageFirst }}{{ end }}, {{ .Year }}
